<div class="row">
    <input type="text" class="form-control" ng-model="newSession.Title" placeholder="Put Title here"/>
</div>
<div class="row">
    <input type="text" class="form-control" ng-model="newSession.Event" placeholder="Put Event here" />
</div>
<div class="row">
    <input type="text" class="form-control" ng-model="newSession.Location" placeholder="Put Location here" />
</div>
<div class="row">
    <input type="number" min="2010" max="2020" class="form-control" ng-model="newSession.Year" placeholder="Put Year here" />
</div>

<div class="row">
    <a href="#" class="btn btn-primary" ng-click="addSession()">Add Session</a>
</div>